body{
    font-family: "Oxygen", sans-serif;
}

h1{
   font-family: "Oxygen", sans-serif; 
}

#header-nav{
    background-color: #E8E8E8;
    height: auto;
}

header{
    border: 1.5px solid #B70404;
}

.navbar-brand{
    height: auto;
    font-size: 2.25em;
    font-weight: 700;
}

