body{
    font-family: "Oxygen", sans-serif;
}

h1{
   font-family: "Oxygen", sans-serif; 
}




#header-nav{
    min-height: 36px;
    background-color: #F8E7FF;
    border: 1.5px solid #630088;
    border-radius: 0px;
}

header{
    
    min-height: 36px;
    color: #000000;
}

.navbar-brand{
    height: auto;
    font-size: 2.25em;
    font-weight: 700;
    margin-left: 36px;
    color: #A10032;
}

.inner-div-text{
    color: #A10032;
}



